// colors
$color-pink:#fe4fa7;
$color-shade:linear-gradient(to right, #fe985b, $color-pink);
$color-shaderev:linear-gradient(to right, $color-pink, #fe985b);
$color-primary:#ffffff;
$color-secondary:#414141;
$color-secondary-light:#6c6c6c;
$color-lightGray:#e2e2e2;
$color-lightblue:#f6fafd;
// fonts